// Providers (core/sections/providers.scss)
$providers--padding-t__mobile: 		26px;		// providers, top padding (mobile)
$providers--padding-b__mobile: 		26px;		// providers, bottom padding (mobile)
$providers--padding-t__desktop: 		null;		// providers, top padding (desktop)
$providers--padding-b__desktop: 		null;		// providers, bottom padding (desktop)
$providers-header--padding__mobile: 	null;		// providers header, bottom padding (mobile)
$providers-header--padding__desktop:	null;		// providers header, bottom padding (desktop)
$providers-items--padding-v: 	        12px;		// providers item, inner top and bottom padding
$providers-items--padding-h: 	        28px;		// providers item, inner left and right padding